/*Variables*/
.body {
	--at-button-height: 48;
	--at-row-count: 2;
	--at-row-count: 0;
}

/*Multi Row Toolbar*/
.AT-multirow.AT-row {
	.mobile-toolbar-options-container {
		flex-flow: column wrap;
	}
}
.is-mobile {
	.mobile-toolbar {
		position: sticky !important;
		z-index: 5;
		margin-bottom: var(--at-offset);
	}
}
.AT-always-shown {
	.is-pinned {
		.workspace-drawer-inner {
			margin-bottom: calc(
				var(--at-button-height) * var(--at-row-count) +
					var(--at-spacing)
			);
		}
	}
}
.AT-multirow.AT-column {
	.mobile-toolbar-options-list {
		flex-flow: row wrap;
		overflow-y: auto;
	}
}
.mobile-toolbar-option {
	height: var(--at-button-height);
	min-width: var(--at-button-width);
}
.AT-multirow {
	.mobile-toolbar {
		height: calc(
			var(--at-button-height) * var(--at-row-count) + var(--at-spacing)
		) !important;
	}
	.mobile-toolbar-options-list {
		height: calc(
			var(--at-button-height) * var(--at-row-count) + var(--at-spacing)
		) !important;
	}
}
.AT-no-toolbar {
	.mobile-toolbar {
		display: none;
	}
}
