.cmdr {
	transition: transform 400ms 0s;

	&.status-bar-item {
		margin: 0;
	}
}

.cmdr-removing {
	transform: translateX(100%);
	z-index: 0;
}

.cmdr-ribbon-removing {
	transform: scale(0%);
}

.cmdr-setting-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	h1 {
		font-weight: 900;
		margin-top: 6px;
		margin-bottom: 12px;
	}
}

.cmdr-option-setting-name {
	margin-left: 0.8ex;
}

.cmdr-base-component {
	padding: 0px 20px;
	margin-bottom: -18px;
}

.cmdr-menu-more-options {
	color: var(--text-muted);
	position: absolute;
	right: 6px;
	padding-top: 2px;
	transform: scale(0.9);
	transition: all 150ms ease;
	&:hover {
		color: var(--text-primary);
	}
}

.cmdr-mobile .cmdr-credits {
	place-content: center;
}

.cmdr-fill {
	border: 2px solid transparent;
	width: 100%;
}

.cmdr-icon {
	height: 20px;
	align-self: center;
}

.cmdr-setting-modal > .modal {
	height: 60vh;
	width: 80vw;
}

.cmdr-editable {
	display: inline-block;

	input {
		padding: 0;
		border: none;
		height: unset;
		background-color: transparent !important;
		border-bottom: 1px solid var(--interactive-accent);
		border-radius: 0;
	}
}
.cmdr-setting-content {
	height: calc(100% - 10rem);

	.setting-item:first {
		border-top: none;
	}
}

.cmdr-commands-empty {
	display: flex;
	place-items: center;
	flex-flow: column;
	margin: 2.5rem 0 1.25rem 0;

	place-content: center;

	svg {
		width: 100%;
	}

	h3 {
		margin: 8px 0px;
		font-weight: 900;
	}
}

.cmdr-sep-con:not(:empty) {
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	padding: 12px;
	border-radius: 12px;

	.setting-item:first-of-type {
		padding-top: 0;
	}
	.setting-item:last-of-type {
		padding-bottom: 0;
	}

	.cmdr-callout-warning {
		padding: var(--callout-title-padding);
		display: flex;
		gap: var(--size-4-1);
		font-size: var(--callout-title-size);
		color: rgb(var(--callout-color));
		line-height: var(--line-height-tight);
		font-weight: bold;
	}

	p.cmdr-warning-description {
		margin: 8px 0;
	}
}

.cmdr-accordion {
	margin-bottom: 16px;

	.cmdr-accordion-chevron {
		margin-left: 0;
		margin-right: 4px;
		height: 24px;
		> svg {
			transition: all 0.25s ease;
		}
	}

	.cmdr-accordion-content {
		max-height: 1000px;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		margin-left: 14px;
		padding-left: 14px;

		.setting-item {
			padding-top: 12px;
		}
	}

	&[aria-expanded="false"] {
		.cmdr-accordion-chevron > svg {
			transform: rotate(-90deg);
		}

		.cmdr-accordion-content {
			max-height: 0 !important;
			transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
		}
	}

	.cmdr-accordion-header {
		display: flex;
		cursor: var(--cursor);

		span {
			font-weight: 600;
			margin-top: 0;
			align-self: end;
		}
	}
}

.cmdr-add-new-wrapper {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		margin: 0 24px;
	}
}

.cmdr-adder {
	opacity: 0;
	transition: opacity 120ms ease;

	&:hover {
		opacity: 1;
	}
	&.view-action {
		// place adder button to the left of commander-added buttons
		order: -1001;
	}
}

.cmdr-page-header {
	// place commander buttons to the left of view and Obsidian buttons
	order: -1000;
}

.cmdr-macro-builder {
	.modal {
		height: 80vh;
		width: 95vw;
		padding: 0px;
	}

	.modal-close-button {
		z-index: 99;
	}

	.modal-content {
		margin-top: 0px;
	}

	.cmdr-macro-icon {
		display: flex;
		justify-content: center;
	}

	.cmdr-macro-control {
		position: absolute;
		z-index: 5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		width: 3em;
		top: 0;

		.cmdr-macro-button {
			background-color: var(--background-secondary-alt);
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 2px;
			outline: 1px solid var(--background-modifier-border);
			padding: 2px;
		}
	}
}

.cmdr-setting-header {
	margin-bottom: 24px;
	overflow-y: hidden;
	overflow-x: auto;

	.cmdr-setting-tab-group {
		display: flex;
		align-items: flex-end;
		border-bottom: 2px solid var(--background-modifier-border);
	}

	&.cmdr-mobile .cmdr-setting-tab-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: none;

		.cmdr-tab {
			border-left: none !important;
			border-right: none !important;
			border-top: none !important;
			transform: none;
			transition: color 200ms ease;
			width: 100%;
			display: flex;
			font-weight: 500;
			justify-content: space-between;

			&:first-child {
				margin-left: 0px;
			}

			&.cmdr-tab-active {
				transform: none;
			}
		}
	}

	.cmdr-tab {
		padding: 6px 6px;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		white-space: nowrap;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;

		&:first-child {
			margin-left: 4px;
		}

		&.cmdr-tab-active {
			border-bottom: 2px solid var(--background-primary);
			transform: translateY(2px);
			border-radius: 2px;
			border-left: 2px solid var(--background-modifier-border);
			border-top: 2px solid var(--background-modifier-border);
			border-right: 2px solid var(--background-modifier-border);
		}
	}
}

.is-tablet .cmdr-tab {
	border: none !important;
	margin-bottom: 2px;
	padding: 10px;
	font-size: 1.08em;
	display: flex;
	align-items: center;
	.cmdr-block {
		display: flex;
		align-items: center;
	}
}

.cmdr-mobile-modify-grid {
	padding: 22px;

	.cmdr-mobile-modify-option {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		> input {
			max-width: 70%;
		}

		.dropdown {
			margin: auto;
		}
	}
}

.cmdr-credits {
	display: flex;

	> span {
		color: var(--text-muted);
		font-size: 14px;
	}
}

.cmdr-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 64px;

	hr {
		width: 100%;
		margin-top: 0;
	}

	button {
		display: flex;
		align-items: center;
		height: 2.6em;
		font-weight: 700;
		gap: 16px;
		border-radius: 6px;
		margin-bottom: 8px;

		&:last-of-type {
			margin-bottom: 32px;
		}
	}

	.setting-item {
		button {
			margin: 0;
		}
	}

	.cmdr-icon-wrapper {
		display: flex;

		> svg {
			width: 90px;
			height: 90px;
		}
	}

	.cmdr-version {
		text-decoration: none;
		font-size: 12px;
		color: var(--text-muted);
	}
}

.cmdr-name-input-wrapper {
	display: flex;
	gap: 8px;
	align-items: center;

	button {
		margin: 8px;
	}
}

.cmdr-icon.clickable-icon.mod-warning {
	cursor: default;
}

.cmdr-hider-title {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		margin-top: 0;
		margin-bottom: 8px;
		font-weight: 900;
	}

	p {
		margin-top: 0;
		margin-bottom: 26px;
		width: 50%;
		text-align: center;
	}
}

.setting-item-control .cmdr-editable {
	width: 2em;
	text-align: center;

	input,
	span {
		width: 2em;
		color: var(--text-normal);
	}
}

.cmdr-slider {
	.setting-item-control > div {
		width: 100%;
	}
	input.slider {
		margin-left: 4px;
	}
}

.view-action:not(:last-child) {
	margin-right: var(--cmdr-spacing);
}
.titlebar-button:not(:last-child),
.status-bar-item:not(:last-child) {
	margin-right: calc(var(--cmdr-spacing) - 8px);
}

.side-dock-ribbon-action:not(:last-child) {
	margin-bottom: calc(var(--cmdr-spacing) - 8px);
}

.cmdr-cta {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: -10%;
		width: 104%;
		left: -2%;
		height: 120%;
		outline: 2px solid var(--color-accent);
		border-radius: 1em;
		pointer-events: none;
	}
}

.cmdr-mm-item {
	display: flex;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: space-between;
	padding: 24px 0px;
	> *:first-child {
		flex-grow: 1;
	}
	> *:last-child {
		display: flex;
	}
	> * {
		display: flex;
		flex-direction: column;
		> span {
			margin-right: 4px;
			margin-bottom: 2px;
			font-size: 12px;
			color: var(--text-muted);
			font-weight: bold;
			margin-left: 2px;
		}
	}
	.cmdr-slider {
		padding-bottom: 0;
		.cmdr-editable {
			width: initial;
			font-size: smaller;
			span {
				color: var(--text-muted);
			}
		}
	}
}

.cmdr-mm-actions {
	width: 100%;
	display: flex;
	flex-direction: row !important;
	justify-content: end;
	gap: 8px;

	button {
		all: unset;
		cursor: pointer;
		color: var(--text-accent);
		padding: 6px;
		border-radius: 4px;
		transition: all 150ms ease;
		text-transform: uppercase;
		font-weight: bold;
		font-size: small;
		&:hover {
			color: var(--text-accent-hover);
			background-color: var(--background-secondary);
		}
		&::before {
			content: "+ ";
		}
		&:active {
			transform: scale(0.98);
		}
	}
}

.cmdr-mm-control {
	margin-top: 24px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.cmdr-mm-action-text {
	opacity: 0;
}

.cmdr-mm-action-options {
	display: flex;
}
