.cmdr {
	transition: transform 400ms 0s;
}

.cmdr-removing {
	transform: translateX(100%);
	z-index: 0;
}

.cmdr-ribbon-removing {
	transform: scale(0%);
}

.cmdr-setting-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	h1 {
		font-weight: 900;
		margin-top: 6px;
		margin-bottom: 12px;
	}
}

.cmdr-mobile .cmdr-credits {
	place-content: center;
}

.cmdr-fill {
	border: 2px solid transparent;
	width: 100%;
}

.cmdr-icon {
	height: 20px;
	align-self: center;
}

.cmdr-setting-modal > .modal {
	height: 60vh;
	width: 80vw;
}

.cmdr-editable {
	display: inline-block;

	input {
		padding: 0;
		border: none;
		height: unset;
		background-color: transparent !important;
		border-bottom: 1px solid var(--interactive-accent);
		border-radius: 0;
	}
}
.cmdr-setting-content {
	height: calc(100% - 10rem);
}

.cmdr-commands-empty {
	display: flex;
	place-items: center;
	flex-flow: column;
	margin: 2.5rem 0 1.25rem 0;

	place-content: center;

	svg {
		width: 100%;
	}

	h3 {
		margin: 8px 0px;
		font-weight: 900;
	}
}

.cmdr-accordion {
	.cmdr-accordion-chevron {
		margin-left: 0;
		margin-right: 4px;
		> svg {
			transition: all 0.25s ease;
		}
	}

	.cmdr-accordion-content {
		max-height: 1000px;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		margin-left: 14px;
		padding-left: 14px;
	}

	&[aria-expanded="false"] {
		.cmdr-accordion-chevron > svg {
			transform: rotate(-90deg);
		}

		.cmdr-accordion-content {
			max-height: 0;
			transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
		}
	}

	.cmdr-accordion-header {
		display: flex;
		cursor: var(--cursor);

		span {
			font-weight: 600;
			margin-bottom: 8px;
			margin-top: 0;
		}
	}
}

.cmdr-add-new-wrapper {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		margin: 0 24px;
	}
}

.cmdr-adder {
	opacity: 0;
	transition: opacity 200ms ease;

	&:hover {
		opacity: 1;
	}
}

.cmdr-macro-builder {
	.modal {
		height: 80vh;
		width: 95vw;
		padding: 0px;
	}

	.modal-close-button {
		z-index: 99;
	}

	.modal-content {
		margin-top: 0px;
	}

	.cmdr-macro-icon {
		display: flex;
		justify-content: center;
	}

	.cmdr-macro-control {
		position: absolute;
		z-index: 5;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		width: 3em;
		top: 0;

		.cmdr-macro-button {
			background-color: var(--background-secondary-alt);
			aspect-ratio: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 2px;
			outline: 1px solid var(--background-modifier-border);
			padding: 2px;
		}
	}
}

.cmdr-setting-header {
	margin-bottom: 24px;
	overflow-y: hidden;
	overflow-x: overlay;

	.cmdr-setting-tab-group {
		display: flex;
		align-items: flex-end;
		border-bottom: 2px solid var(--background-modifier-border);
	}

	&.cmdr-mobile .cmdr-setting-tab-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: none;

		.cmdr-tab {
			border: none !important;
			transform: none;
			padding: 6px 0px;
			transition: color 200ms ease;
			width: 100%;
			display: flex;
			font-weight: 500;
			justify-content: space-between;

			&:first-child {
				margin-left: 0px;
			}

			&.cmdr-tab-active {
				transform: none;
			}
		}
	}

	.cmdr-tab {
		padding: 6px 12px;
		font-weight: 600;
		cursor: pointer;
		white-space: nowrap;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;

		&:first-child {
			margin-left: 6px;
		}

		&.cmdr-tab-active {
			border-bottom: 2px solid var(--background-secondary);
			transform: translateY(2px);
			border-radius: 2px;
			border-left: 2px solid var(--background-modifier-border);
			border-top: 2px solid var(--background-modifier-border);
			border-right: 2px solid var(--background-modifier-border);
		}
	}
}

.cmdr-mobile-modify-grid {
	padding: 22px;

	.cmdr-mobile-modify-option {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		> input {
			max-width: 70%;
		}

		.dropdown {
			margin: auto;
		}
	}
}

.cmdr-credits {
	display: flex;

	> span {
		color: var(--text-muted);
		font-size: 14px;
	}
}

.cmdr-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 64px;

	hr {
		width: 100%;
		margin-top: 0;
	}

	button {
		display: flex;
		align-items: center;
		height: 2.6em;
		font-weight: 700;
		gap: 16px;
		border-radius: 6px;
		margin-bottom: 8px;

		&:last-of-type {
			margin-bottom: 32px;
		}
	}

	.setting-item {
		button {
			margin: 0;
		}
	}

	.cmdr-icon-wrapper {
		display: flex;

		> svg {
			width: 70px;
			height: 70px;
		}
	}

	.cmdr-version {
		font-size: 12px;
		color: var(--text-muted);
	}
}

.cmdr-name-input-wrapper {
	display: flex;
	gap: 8px;

	button {
		margin: 0;
	}
}
